.Player2Board {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 26vh;
  align-items: center;
  margin-right: 90px;
}
.player2Hand {
  display: flex;
}

.player2Hand {
  margin-left: 60px;
}
.player2Hand .cards {
  margin-left: -60px;
  border: 1px solid white;
}
/* .player2Hand .cards {
  background-color: black;
}
.player2Hand .card-title-bottom,
.player2Hand .card-title-top,
.player2Hand .card-icon {
  color: black;
}
.player2-score-Board {
  font-size: larger;
  font-weight: bold;
  color: white;
} */
.player2winBoard .cards {
  position: absolute;
  margin-top: -30px;
}
