body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  width: 100%;
}

.Player2Board {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 29vh;
  border-bottom: 1px solid;
  align-items: center;
}

.Board {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38vh;
  background-color: aquamarine;
}
.Player1Board {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 29vh;
  border-bottom: 1px solid;
  align-items: center;
}
.Board-Cards {
  width: 50px;
  height: 70px;
  border: 0.5px solid black;
  border-radius: 5px;
  margin: 5px;
  color: red;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Board-Cards .card-title-top {
  margin-left: 2px;
  width: 50px;
  display: flex;
  justify-content: flex-start;
}
.Board-Cards .card-title-bottom {
  width: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
}

.Player1Board .card-title-bottom,
.Player2Board .card-title-bottom {
  margin-right: 4px;
}
.Player1Board .card-title-top,
.Player2Board .card-title-top {
  margin-left: 4px;
}
